/* Write your CSS here */
.match-card {
  background-color: #1e293b;
  border-radius: 12px;
  padding: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 15px;
  width: 180px;
}

@media (min-width: 768px) {
  .match-card {
    width: 250px;
  }
}

.match-card-team {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.match-card-logo {
  width: 120px;
  height: 120px;
  margin: 10px 0;
}

.match-card-result {
  font-size: 1rem;
  color: #e2e8f0;
}

.match-card-text {
  margin: 4px 0;
}

.match-status-won {
  color: #18ed66;
}

.match-status-lost {
  color: #e31a1a;
}
