.iplDetailTeam {
  display: flex;
  background-color: #ffffff33;
  border: 2px solid #475569;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
}

.imageIpl {
  width: 70px;
  height: 80px;
}

.iplTeamName {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 22px;
  margin-left: 15px;
  text-align: center;
  width: 200px;
}
