/* Write your CSS here */
.iplTeamContain {
  background-size: cover;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  background-color: #a4261d;
  flex-direction: column;
}

.iplImage {
  width: 100%;
  height: auto; /* keeps aspect ratio */
  max-width: none; /* remove max width restriction */
  object-fit: contain; /* ensures it fits within its container */
}

.lastMatch {
  font-family: 'Bree Serif';
  font-size: 22px;
  color: #ffffff;
}
.recent {
  font-family: 'Bree Serif';
  font-size: 26px;
  color: #ffffff;
}
.recentMatches {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;
  align-items: flex-start;
}
