.latest-match-container {
  background-color: #1e293b;
  border: 2px solid #475569;
  border-radius: 12px;
  padding: 20px;
  color: #ffffff;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .latest-match-container {
    flex-direction: row;
  }
}
.latest-match {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #475569;
}

@media (min-width: 768px) {
  .latest-match {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    border-bottom: 0px;
  }
}

.latest-match-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.latest-match-header2 {
  align-self: flex-start;
  text-align: left;
}
@media (min-width: 768px) {
  .latest-match-header2 {
    align-self: flex-end;
    text-align: right;
  }
}

.latest-match-team-logo {
  width: 100%;
  max-width: 200px;
  align-self: center;
}
@media (min-width: 768px) {
  .latest-match-team-logo {
    width: 100%;
    max-width: 500px;
    align-self: center;
  }
}
.latest-match-team {
  font-size: 1.5rem;
  font-weight: bold;
}

.latest-match-detail {
  margin: 4px 0;
}

.latest-match-venue {
  color: #f7db00;
}

.latest-match-result {
  color: #18ed66;
}
.latest-match-stats {
  padding: 16px;
}

.latest-match-stat {
  margin: 6px 0;
}
